.Rproj.user
.Rhistory
.RData
inst/doc
*.DS_Store
paper/*.html
paper/*.pdf
docs

*.code-workspace

LLM/
scratch/
smoke/

*.tar.gz
*.Rcheck/
install.log
pak_install.log
ts_install.log
tests_install.log
tsbox_install.log
pid.txt
pid_pak.txt
pid_tests.txt
test_script.R
test_script2.R
